@import "tailwindcss";

@theme {
  --color-normal: #a8a878;
  --color-fighting: #c03028;
  --color-flying: #a890f0;
  --color-poison: #a040a0;
  --color-ground: #e0c068;
  --color-rock: #b8a038;
  --color-bug: #a8b820;
  --color-ghost: #705898;
  --color-steel: #b8b8d0;
  --color-fire: #f08030;
  --color-water: #6890f0;
  --color-grass: #78c850;
  --color-electric: #f8d030;
  --color-psychic: #f85888;
  --color-ice: #98d8d8;
  --color-dragon: #7038f8;
  --color-dark: #705848;
  --color-fairy: #ee99ac;
  --color-double: #23eb80;
  --color-half: #e6aa9a;
  --color-quarter: #8e6969;
  --color-quad: #f948dc;
}

@theme inline {
  --font-sans: var(--font-plex-sans);
  --font-mono: var(--font-plex-mono);
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
